# This ignores my stylesheet and html files

static/* linguist-vendored
freelance_work/static/* linguist-vendored
freelance_work/templates/* linguist-vendored
dashboard/templates/* linguist-vendored
accounts/templates/* linguist-vendored
