/* custom Design */
.pad-md-0{
  padding : 0px;
}.pad-md-5{
  padding : 5px;
}.pad-md-10{
  padding : 10px;
}.center-block{
	float: none;
	margin: 0 auto;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.pad-to-20{
  padding-top: 20px;
  padding-bottom: 20px;
}

/* style for account creation app */

.alert-error{color:#721c24;background-color:#f8d7da;border-color:#f5c6cb}
.alert-error hr{border-top-color:#f5c6cb}
.alert-error .alert-link{color:#721c24}

.errorlist{
  margin-bottom: -20px !important;
}.sup{
  color: red;
  font-size: 14px;
}









/* Custom radio button style */
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #007cb4;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}








/* This styling for the dashboard Page: */
.add-border{
  border: 1px solid #eee;
}.box-shadow{
  box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -o-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
}.cardBox{
  padding: 30px 5px 30px 5px; 
  border-radius: 4px;
}.deviceSection{
  border: 1px solid #eee; 
}.deviceIconX{
  height: 43px; 
  width: 43px;
  text-align: center;
  border-radius: 50%;
}.deviceSectionIconWhite{
  background: #f7f7f8; 
  color: #dd5347; 
}.deviceIconX i{
  font-size: 23px;
  margin-top: 9px;
}.deviceSectionPrice{
  margin-top: 30px;
}.deviceSectionSecond{
  text-align: right;
}.secondP{
  font-size: 25px;
  color: #dd5347;
  margin-bottom: 0px;
}.secondPercent{
  margin-top: 14px;
}

/* The Dashboard Green Background Color: */
.deviceSectionG{
  /* border: 1px solid #0bb70b;  */
  border: 1px solid #007cb4; 
  background: #007cb4;
  color: #fff;
}.deviceSectionIconG{
  background: #f8f8f8; 
  color: #007cb4; 
}.secondPG{
  font-size: 25px;
  color: #fff;
  margin-bottom: 0px;
}
/* The Dashboard Red Background Color: */
.deviceSectionR{
  border: 1px solid #b4b41f;
  background:#bebe1f;;
  color: #fff;
}.deviceSectionIconR{
  background: #f8f8f8; 
  color: #b4b41f;;
}
/* The Dashboard Red Background Color: */
.deviceSectionB{
  border: 1px solid #007cb4;  
  background: #007cb4;
  color: #fff;
}.deviceSectionIconB{
  background: #f8f8f8; 
  color: #007cb4; 
}
/* Device List */
.deviceList{
  border: 1px solid #8a8a02;
  border-radius: 4px;
  color: #444;
}.deviceList .list-header{
  background: #c6c605;
  margin-top:0px;
  border: 2px solid #c6c605;
  border-radius: 2px 2px 0px 0px;
  padding: 6px 5px 6px 5px;
  font-size: 16px;
  color: #eee;
  font-weight: 600;  
}.list-header i{
  font-size: 16px;
}
.cardDeviceListContainer{
  background: #eee;
  color: #444;
  border-bottom: 1px solid #d9d9d9;
  padding: 3px 5px 10px 5px;
  border-radius: 0px 0px 4px 4px;
}.cardDeviceListContainer .card-title, .cardDeviceListContainer .card-number{
  font-size: 15px;
  margin-bottom: 2px;
}.cardDeviceListContainer .card-icon{
  margin-top: 10px;
}.cardSiteMapImg{
   border: 1px solid #eee; 
  border-radius: 4px;
  color: #444;
  height: 255px;
}

/*The New Work On*/
.pad-left-0{
  padding-left: 4px !important;
  }.marginTopDashboard{
  margin-top: 30px;
}.marginBottomDashboardLast{
  margin-bottom: 80px;
}.deviceSectionT{
  background: #c6c605;
  color: #fff;
  font-weight: 600;
  padding: 8px 8px 8px 8px;
}.deviceSectionT i{
  font-size: 16px;
}.deviceTableHeader{
  font-weight: 600;
}.scrollableTableBox{
  overflow-y: scroll; 
  height: 255px;
}.deviceSensorLogBox{
  border-radius: 4px;
  border: 1px solid #c6c605;
}.moreSpace{
  margin-right: 10px;
}


/* Terms of service */
.term_of_service{
  color: #007cb4;
  font-weight: 600;
}.custom-checkbox > label{
  font-weight: 500;
}.custom-checkbox{
  margin-top: 1px;
}.primary-color{
  color: #007cb4;
}


/* style about section */
/* #good-health-about{
  margin-bottom: 100px;
} */
.about-first-good-health{
  background: #007cb4;
  color: #fff;
  padding-top: 180px;
  padding-bottom: 180px;
}.about-second-good-health{
  background: #007cb4;
  color: #fff;
   padding-top: 180px;
  padding-bottom: 180px;
}.about-icon{
  font-size: 65px;
}.about-first-good-health h1, .about-second-good-health h1{
  color: #fff;
}
#about-you-btn,
#about-you-btn:focus,
#about-you-btn:hover,
#about-you-btn:active {
  background-color: #fff;
  color: #007cb4;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid #fff;
  margin-top: 20px;
}
#about-family-button,
#about-family-button:focus,
#about-family-button:hover,
#about-family-button:active {
  background-color: #fff;
  color: #007cb4;
  font-weight: 600;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 2px solid #fff;
  margin-top: 20px;

}.primary-color{
  color: #007cb4 !important;
}.secondary-color{
  color: #007cb4 !important;
}



/* Design for sign up, login, and create medical report container */
.margin-top-50{
  margin-top: 50px;
}
.sign-up-container, .login-container{
  /* padding-bottom: 30px; */
  /* margin-top: 50px; */
}.sign-up-title, .login-title{
  background: #007cb4;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 12px;
  margin-top: 15px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
}.sign-up-form, .login-form{
  margin-top: 15px !important;
}


/* Sign up caption two */
.sign-up-caption{
  font-size: 25px;
  padding-top: 40px;
  padding-bottom: 30px;
}.underliner{
  padding-top: 3px;
  background: #007cb4;
  width: 10%;
  margin-top: 20px;
  
}.already-have-an-account{
  margin-top: 30px;
}.margin-top-15{
  margin-top: 15px;
}.float-right{
  float:right;
  cursor: pointer;
}.p-color{
  color: #666 !important;
}.top-bg{
  background: #f8f8f8 !important;
}.p-color2{
  color: #eee !important;
}.search-now{
  border: 1px solid #fff; 
  margin:0px; 
  padding:7px;
}.home-search{
  background: #007cb4; 
  padding: 15px;
}.no-of-job{
  margin:0px; 
  padding: 7px 12px;
  font-size: 11px;
}.container-for-no-of-jobs-one h5{
  margin-top: 270px;
  color: #fff;
}.container-for-no-of-jobs-one{
  padding-bottom: 30px;
}
.border-yellow{
  border: 2px solid #cccc00;
}
.border-blue{
  border: 2px solid #00b8e6;
}
.border-red{
  border: 2px solid #e6005c;
}
.border-purple{
  border: 2px solid #6600cc;
}
.border-orange{
  border: 2px solid #ff9900;
}
.border-green{
  border: 2px solid #00cc00;
}
.bg-yellow{
  background: #cccc00;
}
.bg-blue{
  background: #00b8e6;
}
.bg-red{
  background: #e6005c;
}
.bg-purple{
  background: #6600cc;
}
.bg-orange{
  background: #ff9900;
}
.bg-green{
  background: #00cc00;
}

#no-of-jobs{
  padding: 0px;
}.section-pad-0{
  padding: 10px;
  background: #000;
  color: #fff;
}.color-red{
  color: #e6005c;
}


/* This section for how it works */
.member-container{
  padding-top: 20px;
  padding-bottom: 5px;
}.button-container{
  padding-top: 15px;
}.pad-right-7{
  padding-right: 7px;
  padding-left: 0px;
}.pad-left-7{
  padding-right: 0px;
  padding-left: 7px;
}
.how-it-works,
.how-it-works:hover,
.how-it-works:focus,
.how-it-works:active
{
  border: 1px solid #fff; 
  margin:0px; 
  padding:7px;
  background: #fff;
  color: #000;
}
.post-a-job-search,
.post-a-job-search:hover,
.post-a-job-search:focus,
.post-a-job-search:active
{
  border: 1px solid #fff; 
  margin:0px; 
  padding:7px;
  background: #000;
  color: #fff;
}.light-black{
  color: #b0b0b0;
}.each-how-it-works{
  border-top: 3px solid #007cb4;
}.each-how-it-works:hover{
  color: #007cb4;
   box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -o-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  cursor: pointer;
}.container-how-it-works{
  margin-top: 60px;
}

.margin-top-60{
  margin-top: 60px;
}
.margin-top-30{
  margin-top: 30px;
}

.margin-bottom-60{
  margin-bottom: 60px;
}


/* find the latest jobs */
#find-the-latest-job{
  padding-top: 0px;
}
.apply-now,
.view-jobs
{
border-top: 1px solid #eee;
border-right: 1px solid #eee;
text-align: center;
font-weight: 600;
padding: 12px;
cursor: pointer;
}.apply-now p,
.view-jobs p
{
  margin-bottom: 0px;
}.margin-top-20{
  margin-top: 20px;
}
.apply-now:hover,
.view-jobs:hover
{
background: #007cb4;
color: #fff;
cursor: pointer;
}
.margin-top-10{
  margin-top: 10px;
}
.love-job{
  border-top: 1px solid #eee;
  text-align: center;
  padding-top: 10px;
}
.love-job i{ 
  border-radius: 50%;  
  padding: 5px 5px;
  border: 1px solid #eee;
  cursor: pointer;
}
.love-job i:hover{ 
  background: #007cb4;
  color: #fff;
}.each-container-latest-job:hover{
  cursor: pointer;
   box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -o-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
}

.each-container-latest-website:hover{
   /* box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -o-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75); */
}

.cursor-pointer{
  cursor: pointer;
}
.padding-bottom-15{
  padding-bottom: 15px;
}






.browse-all-jobs{
  cursor: pointer;
}.p-margin-bottom-0{
  margin-bottom: 0px;
}
.red-color{
  color: red;
}.type-of-role{
  border-radius: 10px;
  background: #007cb4;
}.other-skills{
  background: #007cb4;
  color: #FFF;
  padding: 6px 15px;
  border-radius: 20px;
  
}.job-skills{
  background: #f1f0f0;
  color: #b0b0b0;
  padding: 6px 15px;
  border-radius: 20px;
  margin-right: 15px;
}.profile-color{
  color: #f1f0f0;
}.bg-light-black{
   background: #f1f0f0;
}


/* Different Kind of jobs */
.job-icons{
  border-radius: 50%;
  height: 60px !important;
  width: 60px !important;
  text-align: center;
  padding-top: 17px;  
}.job-icons i{
  font-size: 25px;

}.kind-of-jobs{
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
 
  padding-top: 30px;
  padding-bottom: 30px;
}.kind-of-jobs:hover{
  color: #d38b8b;
  cursor: pointer;
   box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -o-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
}
.kind-of-jobs2{
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
   border-top: 1px solid #eee;
  padding-top: 30px;
  padding-bottom: 30px;
}.kind-of-jobs2:hover{
  color: #d38b8b;
  cursor: pointer;
   box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -o-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
  -moz-box-shadow: 0px 0px 5px 1px rgba(217,217,217,0.75);
}
.border-right{
  border-left: 1px solid #eee;
}


/* featured candidate */
.candidate-price{
  position: absolute;
  right: 0px;
}.candidate-availability{
  color: #007cb4;
}.star-color{
  color: #9fcf32;
  font-size: 12px;
}.star-rating{
  color: #fff;
  background: #9fcf32;
}.candidate-availability2{
  color: #b42a00;
}


/* Post a job section  */
.post-a-job-section h2{
 font-size: 25px;
}.post-job-caption{
  margin-bottom: 0px !important;
  color: #007cb4;
}.margin-top-10{
  margin-top: 10px;
}.company-details{
  padding-left: 20px;
}.margin-bottom-30{
  margin-bottom: 30px;
}
.learn-more-button,
.learn-more-button:hover,
.learn-more-button:focus,
.learn-more-button:active
{
  padding:10px 14px;
  background: #000;
  color: #fff;
  margin-left: 15px;
}
.post-a-job-search2,
.post-a-job-search2:hover,
.post-a-job-search2:focus,
.post-a-job-search2:active
{
  padding:10px 14px;
  background: #007cb4;
  color: #fff;

}





/* the first footer */
.footer-one{
  background: #000;
  padding:0px;
  color: #fff;
}.form-controller{
  height: 50px;
}.footer-one h2{
  color: #fff;
}
.subscribe-button,
.subscribe-button:hover,
.subscribe-button:focus,
.subscribe-button:active
{
  background: #007cb4;
  color: #fff;
  border: 2px solid #fff;
  height: 50px;
  padding-right: 25px;
  padding-left: 25px;
}.foot-color p{
  color: #b0b0b0;
  cursor: pointer;
}.padding-bottom-30{
  padding-bottom: 30px;
}.padding-bottom-60{
  padding-bottom: 60px;
}




/* The dashboard section */
.dashboard-profile{
  background: #000;
  color: #fff;
  padding: 20px;
}.padding-bottom-20{
  padding-bottom: 20px;
}
.upload-dashboard,
.upload-dashboard:hover,
.upload-dashboard:focus,
.upload-dashboard:active
{
  background: #eee;
  color: #999;
}.manage-account{
  font-size: 28px;
}
.dashboard-logout,
.dashboard-logout:hover,
.dashboard-logout:focus,
.dashboard-logout:active
{
  background: #e6005c;
}.dashboard-icon-box{
  background: #eee;
  color: #e6005c;
}
.dashboard-icon-box-yellow{
  background: #eee;
  color: #cccc00;
}
.dashboard-icon-box-purple{
  background: #eee;
  color: #6600cc;
}
.padding-top-7{
  padding-top: 7px;
}.complete-skills,
.complete-skills:hover,
.complete-skills:focus,
.complete-skills:active
{
  background: #fff;
  color: #e6005c;
  border: 1px solid #e6005c;
  border-radius: 25px;
  margin-bottom: 15px;
}.padding-top-15{
  padding-top: 15px;
}.padding-bottom-10{
  padding-bottom: 10px;
}.rating-dashboard{
  text-align: right;
}.blank-dashboard{
  height: 130px;
  background: #eee;
}
.social-accounts,
.social-accounts:hover,
.social-accounts:focus,
.social-accounts:active
{
  background: #fff;
  color: #e6005c;
  border: 1px solid #eee;
  border-radius: 25px;
  padding-left:0px;
  height: 38px;
}
.social-icon{
  padding: 9px 11px; 
  text-align: center;
  color: #eee;
  border-radius: 50%;
  position: relative;
  top:6px;
}.social-url{
  padding-left: 10px;
  position: relative;
  top: 6px; 
}
.bg-facebook{
  background: #3b5998;
}.bg-linkedin{
  background: #0077B5;
}.bg-black{
  background: #000;
}.padding-right-0{
  padding-right: 0px;
}.padding-left-0{
  padding-left: 0px;
}.border-bottom{
  border-bottom: 1px solid #eee;
}.border-top{
  border-top: 1px solid #eee;
}

.padding-top-40{
  padding-top: 40px;
}
.padding-top-10{
  padding-top: 10px;
}.padding-left-15{
  padding-left: 15px;
}.color-green{
  color: #00cc00;

}.color-purple{
  color: #6600cc;
}.color-orange{
  color: #ff9900;
}.pad-md-10{
  padding: 10px;
}

.high-priority-red,
.high-priority-red:hover,
.high-priority-red:focus,
.high-priority-red:active
{
  background: #e6005c;
  color: #fff;
}

.high-priority-green,
.high-priority-green:hover,
.high-priority-green:focus,
.high-priority-green:active
{
  background: #00cc00;
  color: #fff;
}.class-title{
  font-size: 16px;
  font-weight: 600;
}.padding-top-30{
  padding-top: 30px;
}
.view-all-applied-job{
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0px;
  height: 50px;

}











/* The slider for the home page */

.col-item
{
    /* border: 1px solid #E1E1E1; */
    border-radius: 5px;
    background: #0077B5;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #0077B5;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 0px solid #0077B5;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}
.col-item .btn-add
{
    border-right: 0px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.control-right 
{
    right: 15px;
    left: auto;   
}
.control-left{
    left: 15px;
    right: auto; 
}

.control-right2
{
    right: -45px;
    left: auto;   
}
.control-left2{
    left: -45px;
    right: auto; 
}


.master-controller{
   position: absolute;
    background-color: rgba(0,0,0,0.3);
    z-index: 9999;
    color: #fff;
    height: 35px;
    width: 35px;
    margin-top: 10%;
    padding: 0px;
    padding-top: 10px;
    border-radius: 50%;
}











/* Medical-statistics style */
.each-statistics-section{
  margin-bottom: 30px;
}.each-statistics-section i{
  font-size: 35px;
  margin-bottom: 15px;
  margin-top: 20px;
}.first-statistics-p{
  font-size: 35px;
  margin-bottom: 5px;
}.percentage-statistics{
  font-size: 18px;
  margin-bottom: 15px;
}.title-of-illness{
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 7px;
}.first-p-container{
  margin-bottom: 10px;
}.first-p-container small{
  color: #999;
}.statistic-bg-green{
  background: #007cb4;
  color: #fff;
}.statistic-bg-blue{
  background: #007cb4;
  color: #fff;
}


/* my medical report page style */
.my-medical-report{
  padding-top: 10px;
}

























@media (min-width: 993px) and (max-width: 1200px)
{


}

@media (min-width: 769px) and (max-width: 992px)
{


}

@media (min-width: 480px) and (max-width: 768px)
{


.pad-sm-0{
  padding : 0px;
}.pad-sm-5{
  padding : 5px;
}.pad-sm-10{
  padding : 10px;
}


}

@media (min-width: 0px) and (max-width: 479px)
{

.pad-xs-0{
  padding : 0px;
}.pad-xs-5{
  padding : 5px;
}.pad-xs-8{
  padding : 8px;
}.pad-xs-10{
  padding : 10px;
}


}

