{% extends 'base.html' %}



{% block content %}
{% load static %}


<section class="dashboard-profile"> 
    <div class="container">

        <span>My Account</span>
        <span class="float-right">{{user.email}} / My Account</span>

    </div>
</section>





<section>
    <div class="container">
        <div class="col-md-3" >
            <div class="col-md-12 pad-md-0 add-border each-container-latest-job">
                <div class="col-md-12 margin-top-20 padding-bottom-20">
                    <div class="col-md-12 pad-md-0 text-center">
                        <i class="fa fa-circle profile-color" style="font-size: 100px;"></i>
                    </div>

                    <div class="col-md-12 margin-top-15">
                        <button class="btn btn-primary btn-xs center-block upload-dashboard">UPLOAD PHOTO</button>
                    </div>

                    <div class="col-md-12 pad-md-0 text-center">
                    
                        <strong><p class="p-margin-bottom-0 margin-top-15">Rock Williams</p></strong>
                        <strong><small class="light-black">PHP Developer</small></strong>
                        <p class="candidate-availability2">Available Full Time <i class="fa fa-edit"></i></p>
                    </div>
                </div>
            </div>

             <div class="col-md-12 add-border each-container-latest-website margin-top-15 padding-bottom-15">
                <strong><h3 style=" font-weight: 600;">Websites </h3></strong>
                <p class="color-red cursor-pointer"><i class="fa fa-globe"></i> www.companysite.com </p>
                <p class="cursor-pointer"><i class="fa fa-edit "></i> www.blogsite.com </p>
             </div>

             <div class="col-md-12 add-border each-container-latest-website margin-top-15 padding-bottom-15">
                <strong><h3 style=" font-weight: 600;">Profile Completeness </h3></strong>
                <div class="col-md-12 pad-md-0">
                    <div class="col-md-2 pad-md-0 color-red"><strong>85%</strong></div>
                    <div class="col-md-10 pad-md-0 padding-top-7">
                        <div class="progress" style="height:8px">
                            <div class="progress-bar bg-red" style="width:85%; height: 8px;"></div>
                        </div>
                    </div> 
                </div>

                <div class="col-md-12 pad-md-0">
                    <button class="btn btn-primary btn-xs col-md-12 complete-skills">COMPLETE REQUIRED SKILLS</button>
                </div>
            </div>


           
            <div class="col-md-12 add-border each-container-latest-website margin-top-15 padding-top-15 padding-bottom-10">
                <div class="col-md-4 pad-md-0">
                    <strong><p>Rating</p></strong>
                </div>

                <div class="col-md-8 pad-md-0 rating-dashboard">
                    <i class="fa fa-star star-color"></i>&nbsp;
                    <i class="fa fa-star star-color"></i>&nbsp;
                    <i class="fa fa-star star-color"></i>&nbsp;
                    <i class="fa fa-star star-color"></i>&nbsp;
                    <i class="fa fa-star star-color"></i>&nbsp;
                    <span class="label label-primary star-rating type-of-role">4.9</span>
                </div>
            </div>

            
           
            <div class="col-md-12 add-border each-container-latest-website margin-top-15 padding-top-15 padding-bottom-10">
                <div class="col-md-4 pad-md-0">
                    <strong><p>Location</p></strong>
                </div>

                <div class="col-md-8 pad-md-0">
                    <small class="light-black float-right"><i class="fa fa-map-marker red-color"></i>&nbsp; New York City</small>
                </div>

                <div class="col-md-12 pad-md-0 blank-dashboard"></div>

                <div class="col-md-12 pad-md-0 margin-top-10">
                    <div class="col-md-8 pad-md-0">
                        <strong><p>Hourly Rate</p></strong>
                    </div>

                    <div class="col-md-4 pad-md-0">
                        <small class="light-black float-right"> $50/hr</small>
                    </div>
                </div>

                <div class="col-md-12 pad-md-0">
                    <div class="col-md-8 pad-md-0">
                        <strong><p>Age</p></strong>
                    </div>

                    <div class="col-md-4 pad-md-0">
                        <small class="light-black float-right"> 30</small>
                    </div>
                </div>

                <div class="col-md-12 pad-md-0">
                    <div class="col-md-8 pad-md-0">
                        <strong><p>Experience</p></strong>
                    </div>

                    <div class="col-md-4 pad-md-0">
                        <small class="light-black float-right"> 5 years</small>
                    </div>
                </div>
                <div class="col-md-12 pad-md-0">
                    <div class="col-md-8 pad-md-0">
                        <strong><p>Job Done</p></strong>
                    </div>

                    <div class="col-md-4 pad-md-0">
                        <small class="light-black float-right">69</small>
                    </div>
                </div>
            </div>




             <div class="col-md-12 add-border each-container-latest-website margin-top-15 padding-top-15 padding-bottom-10">
                <div class="col-md-12 pad-md-0">
                    <strong><p>Contact Social Account <i class="fa fa-edit float-right"></i></p></strong>
                </div>

                
                <div class="col-md-12 pad-md-0 padding-bottom-15">
                    <div class="pad-md-0 col-md-12 margin-top-10 social-accounts"><span class="social-icon bg-facebook"><i class="fab fa-facebook-square"></i> </span> <span class="light-black"> <span class="social-url">http://facebook.com</span> </span></div>
                    <div class="pad-md-0 col-md-12 margin-top-10 social-accounts"><span class="social-icon bg-blue"><i class="fab fa-twitter"></i> </span> <span class="light-black"> <span class="social-url">http://twitter.com</span> </span></div>
                    <div class="pad-md-0 col-md-12 margin-top-10 social-accounts"><span class="social-icon bg-linkedin"><i class="fab fa-linkedin"></i> </span> <span class="light-black"> <span class="social-url">http://linkedin.com</span> </span></div>
                    <div class="pad-md-0 col-md-12 margin-top-10 social-accounts"><span class="social-icon bg-red"><i class="fab fa-dribbble "></i> </span> <span class="light-black"> <span class="social-url">http://dribble.com</span> </span></div>
                    <div class="pad-md-0 col-md-12 margin-top-10 social-accounts"><span class="social-icon bg-black"><i class="fab fa-github"></i> </span> <span class="light-black"> <span class="social-url">http://github.com</span> </span></div>
                </div>
            </div>



            

            
                      



      
  
        </div>



        <div class="col-md-9">
            <span class="manage-account">Manage Your Account</span>
            <a class="dropdown-item" href="javascript:{document.getElementById('js-logout').submit()}" onClick=""><button class="btn btn-primary btn-xs center-block dashboard-logout float-right">LOGOUT</button></a>


            <ul class="nav nav-tabs margin-top-60">
                <li class="active"><a data-toggle="tab" href="#home">Dashboard</a></li>
                <li><a data-toggle="tab" href="#profile">Profile</a></li>
                <li><a data-toggle="tab" href="#portfolio">Portfolio</a></li>
                <li><a data-toggle="tab" href="#notifications">Notification</a></li>
                <li><a data-toggle="tab" href="#messages">Messages</a></li>                    
            </ul>
            <div class="tab-content">
            <div id="home" class="tab-pane fade in active">


                <div class="col-md-12 pad-md-0 margin-top-15">
                    

                <div class="col-md-12 pad-md-0 margin-top-30">

                    <div class="col-md-4 padding-left-0">
                        <div class="col-md-12 kind-of-jobs2 add-border text-center">
                            <div class="job-icons add-border dashboard-icon-box-purple center-block"> <i class="fa fa-graduation-cap"></i> </div>
                            <h5>Applied Jobs</h5>
                            <big class="light-black"><strong>15</strong></big>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="col-md-12 kind-of-jobs2  add-border text-center">
                            <div class="job-icons add-border dashboard-icon-box-yellow center-block"> <i class="fa fa-graduation-cap"></i> </div>
                            <h5>Task Bid Won</h5>
                            <big class="light-black"><strong>10</strong></big>
                        </div>
                    </div>
                    <div class="col-md-4 padding-right-0">
                        <div class="col-md-12 kind-of-jobs2  add-border text-center">
                            <div class="job-icons add-border dashboard-icon-box center-block"> <i class="fa fa-heart"></i> </div>
                            <h5>Favourites</h5>
                            <big class="light-black"><strong>20</strong></big>
                        </div>
                    </div>
                </div>



                
                <div class="col-md-12 pad-md-0  margin-top-30 add-border">
                    <div class="col-md-12 border-bottom padding-top-10 padding-bottom-10">
                        <div class="col-md-6 pad-md-0">
                            <h4>Your Profile View</h4>
                        </div>
                    
                        <div class="col-md-6">               
                            <div class="col-md-5 pad-md-0 float-right">               
                                <select class="form-control float-right">
                                    <option value="" selected="selected">Oct-2019</option>
                                    <option value="nov">Nov-2019</option>
                                    <option value="dec">Dec-2019</option>
                                    <option value="jan">Jan-2019</option>
                                    <option value="feb">Feb-2019</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 pad-md-0">
                        <img src="{% static 'assets/images/profile-stat.png' %}" height="100%" width="100%">
                    </div>
                </div>


                    <div class="col-md-12 pad-md-0 margin-top-30">
                        <div class="col-md-8 padding-left-0">
                            <div class="col-md-12 pad-md-0 add-border">
                                <div class="col-md-12 pad-md-0 border-bottom padding-left-15">
                                    <h4>Statistic Analytics</h4>
                                </div>

                                <div class="col-md-12 pad-md-0">
                                    <img src="{% static 'assets/images/stat.png' %}" height="100%" width="100%">
                                </div>

                                <div class="col-md-12 pad-md-0 padding-bottom-60 padding-top-40">
                                    <div class="col-md-5">
                                        <p><i class="fa fa-circle color-red"></i> &nbsp; &nbsp;<strong>Applied Jobs:</strong> <span class="light-black">&nbsp;<strong>15 </strong></span></p>
                                    </div>
                                    <div class="col-md-5">
                                        <p><i class="fa fa-circle color-green"></i> &nbsp; &nbsp;<strong>Posted Jobs:</strong> <span class="light-black">&nbsp;<strong>20 </strong></span></p>
                                    </div>
                                    <div class="col-md-5">
                                        <p><i class="fa fa-circle color-purple"></i> &nbsp; &nbsp;<strong>Active Bids:</strong> <span class="light-black">&nbsp;<strong>10 </strong></span></p>
                                    </div>
                                    <div class="col-md-5">
                                        <p><i class="fa fa-circle color-orange"></i> &nbsp; &nbsp;<strong>Favourite Jobs:</strong> <span class="light-black">&nbsp;<strong>20 </strong></span></p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4 padding-right-0">
                            <div class="col-md-12 pad-md-0 add-border">
                                <div class="col-md-12 pad-md-0 border-bottom padding-left-15">
                                    <h4>Notes</h4>
                                </div>

                                <div class="col-md-12 pad-md-10 padding-bottom-20 ">
                                    <div class="col-md-12  pad-md-10 bg-light-black">
                                        <div class="col-md-8 pad-md-0">                                    
                                            <button type="submit" class="btn btn-primary form-control high-priority-red">High Priority</button>
                                        </div>

                                        <div class="col-md-4 pad-md-0 padding-left-15 padding-top-15">
                                            <i class="fa fa-edit"></i> &nbsp; &nbsp;<i class="fa fa-trash"></i>
                                        </div>

                                        <div class="col-md-12 pad-md-0 margin-top-10">
                                            <p>Quis adipi In Consequat Nisi exerci. Est ad ea commodo mollit anim cillum.</p>
                                        </div>
                                    </div>

                                    <div class="col-md-12 add-border pad-md-10 margin-top-10 bg-light-black">
                                        <div class="col-md-8 pad-md-0">                                    
                                            <button type="submit" class="btn btn-primary form-control high-priority-green">High Priority</button>
                                        </div>

                                        <div class="col-md-4 pad-md-0 padding-left-15 padding-top-15">
                                            <i class="fa fa-edit"></i> &nbsp; &nbsp;<i class="fa fa-trash"></i>
                                        </div>

                                        <div class="col-md-12 pad-md-0 margin-top-10">
                                            <p>Quis adipi In Consequat Nisi exerci. Est ad ea commodo mollit anim cillum.</p>
                                        </div>
                                    </div>


                                    <div class="col-md-12 margin-top-10 pad-md-0">
                                        <div class="col-md-12 pad-md-0 border-top">                                    
                                            <button type="submit" class="btn btn-primary form-control high-priority-red">ADD NOTE</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-7 padding-left-0 margin-top-30">
                            <div class="col-md-12 pad-md-0 add-border">
                                <div class="col-md-12 pad-md-0 border-bottom padding-left-15">
                                    <h4>Applied Jobs</h4>
                                </div>

                                <div class="col-md-12 pad-md-0">

                                    <div class="col-md-12 border-bottom padding-top-30 padding-bottom-30">
                                        <div class="col-md-12 pad-md-0"> 
                                            <p class="class-title">WordPress Developer</p>                        
                                            <p>  
                                                <i class="fa fa-map-marker color-red"></i> &nbsp; &nbsp;Australia &nbsp; &nbsp;
                                                <i class="fa fa-briefcase color-red"></i>&nbsp; &nbsp; Full Time &nbsp; &nbsp;
                                                <i class="fa fa-wallet color-red"></i>&nbsp; &nbsp; $599 - Manual &nbsp; &nbsp;
                                                <i class="fa fa-clock color-red"></i>&nbsp; &nbsp; 1 day &nbsp; &nbsp;
                                            </p>

                                            <div class="col-md-4 pad-md-0"> 
                                            <button type="submit" class="btn btn-primary form-control high-priority-red">Applied</button>
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <div class="col-md-12 border-bottom padding-top-30 padding-bottom-30">
                                        <div class="col-md-12 pad-md-0"> 
                                            <p class="class-title">FrontEnd Developer</p>                        
                                            <p>  
                                                <i class="fa fa-map-marker color-red"></i> &nbsp; &nbsp;Australia &nbsp; &nbsp;
                                                <i class="fa fa-briefcase color-red"></i>&nbsp; &nbsp; Full Time &nbsp; &nbsp;
                                                <i class="fa fa-wallet color-red"></i>&nbsp; &nbsp; $599 - Manual &nbsp; &nbsp;
                                                <i class="fa fa-clock color-red"></i>&nbsp; &nbsp; 2 day &nbsp; &nbsp;
                                            </p>

                                            <div class="col-md-4 pad-md-0"> 
                                            <button type="submit" class="btn btn-primary form-control high-priority-red">Applied</button>
                                            </div>
                                        </div>
                                    </div>

                                    
                                    <div class="col-md-12 border-bottom padding-top-30 padding-bottom-30">
                                        <div class="col-md-12 pad-md-0"> 
                                            <p class="class-title">BackEnd Developer</p>                        
                                            <p>  
                                                <i class="fa fa-map-marker color-red"></i> &nbsp; &nbsp;Australia &nbsp; &nbsp;
                                                <i class="fa fa-briefcase color-red"></i>&nbsp; &nbsp; Full Time &nbsp; &nbsp;
                                                <i class="fa fa-wallet color-red"></i>&nbsp; &nbsp; $599 - Manual &nbsp; &nbsp;
                                                <i class="fa fa-clock color-red"></i>&nbsp; &nbsp; 5 day &nbsp; &nbsp;
                                            </p>

                                            <div class="col-md-4 pad-md-0"> 
                                            <button type="submit" class="btn btn-primary form-control high-priority-red">Applied</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 pad-md-0">
                                        <button type="submit" class="btn btn-primary form-control high-priority-red view-all-applied-job">VIEW ALL</button>
                                    </div>

                                </div>


                            </div>

                        </div>



                        <div class="col-md-5 padding-right-0 margin-top-30">
                            <div class="col-md-12 pad-md-0 add-border">
                                <div class="col-md-12 pad-md-0 border-bottom padding-left-15">
                                    <h4>Order Plans Summary</h4>
                                </div>

                                <div class="col-md-12 pad-md-0 ">
                                    <div class="col-md-12 border-bottom padding-bottom-15 padding-top-15 ">
                                        <div class="col-md-8 pad-md-0 padding-top-15">
                                            <p class="class-title">Professional Plans</p> 
                                        </div>
                                        <div class="col-md-4 pad-md-0">                                    
                                            <button type="submit" class="btn btn-primary form-control high-priority-red">ADD</button>
                                        </div>

                                        <div class="col-md-12 pad-md-0 margin-top-10">
                                            <p class="light-black">Order No: #12345</p>
                                            <p class="light-black">Date : 10 October 2018</p>
                                        </div>
                                    </div>

                                
                                    <div class="col-md-12 border-bottom padding-bottom-15 padding-top-15 ">
                                        <div class="col-md-8 pad-md-0 padding-top-15">
                                            <p class="class-title">Professional Plans</p> 
                                        </div>
                                        <div class="col-md-4 pad-md-0">                                    
                                            <button type="submit" class="btn btn-primary form-control high-priority-red">ADD</button>
                                        </div>

                                        <div class="col-md-12 pad-md-0 margin-top-10">
                                            <p class="light-black">Order No: #12345</p>
                                            <p class="light-black">Date : 10 October 2018</p>
                                        </div>
                                    </div>

                                
                                    <div class="col-md-12 border-bottom padding-bottom-15 padding-top-15 ">
                                        <div class="col-md-8 pad-md-0 padding-top-15">
                                            <p class="class-title">Professional Plans</p> 
                                        </div>
                                        <div class="col-md-4 pad-md-0">                                    
                                            <button type="submit" class="btn btn-primary form-control high-priority-red">ADD</button>
                                        </div>

                                        <div class="col-md-12 pad-md-0 margin-top-10">
                                            <p class="light-black">Order No: #12345</p>
                                            <p class="light-black">Date : 20 July 2018</p>
                                        </div>
                                    </div>

                                
                                    <div class="col-md-12 border-bottom padding-bottom-15 padding-top-15 ">
                                        <div class="col-md-8 pad-md-0 padding-top-15">
                                            <p class="class-title">Professional Plans</p> 
                                        </div>
                                        <div class="col-md-4 pad-md-0">                                    
                                            <button type="submit" class="btn btn-primary form-control high-priority-red">ADD</button>
                                        </div>

                                        <div class="col-md-12 pad-md-0 margin-top-10">
                                            <p class="light-black">Order No: #12345</p>
                                            <p class="light-black">Date : 30 August 2018</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="profile" class="tab-pane fade">
                <h1>Profile</h1>
                <p>loremVoluptate consequat fugiat pariatur eiusmod aliquip. Et duis officia veniam duis duis magna irure cillum minim amet non. Consequat occaecat sint velit voluptate consectetur sint qui officia incididunt adipisicing minim culpa ea. Tempor adipisicing anim dolore laborum officia cupidatat fugiat laboris cupidatat qui aliqua.
                    <br/>
                    <br/>
                    Excepteur cillum sit enim duis non. Deserunt reprehenderit commodo elit elit commodo ea Lorem elit nulla. Ullamco ullamco esse culpa fugiat aliqua do dolore proident sit mollit proident. Laboris incididunt enim eu sit eiusmod cupidatat cillum commodo qui cupidatat in nostrud velit occaecat. Velit dolor laboris proident ea dolore ut deserunt quis pariatur voluptate sunt.

                    Quis est pariatur veniam elit elit ex aute non aliquip voluptate ullamco velit consectetur. Sit Lorem deserunt dolor enim sunt fugiat. Ut culpa adipisicing ad id irure nisi.
                    <br />
                    <br />
                    Nulla irure dolor ea est excepteur proident. Non est eiusmod ad ex sint aliqua non ad officia tempor eiusmod esse dolor. Lorem eiusmod elit ullamco ullamco ipsum dolore labore Lorem.

                    Esse id adipisicing qui proident nostrud laboris proident. Labore anim tempor est elit nostrud nostrud magna proident. Reprehenderit enim Lorem labore ex nisi reprehenderit consectetur pariatur irure nisi consectetur Lorem. Commodo velit consectetur minim dolore pariatur consequat et officia enim nisi. Cillum exercitation labore elit ut esse esse irure non veniam.

                    Cupidatat id irure nisi est ex laboris nisi officia nisi culpa. Pariatur irure fugiat fugiat incididunt mollit officia non irure nostrud enim adipisicing eiusmod. Eu esse nulla enim dolore tempor in.
                </p>
            </div>
            <div id="portfolio" class="tab-pane fade">
                <h1>Portfolio</h1>
                <p>loremVoluptate consequat fugiat pariatur eiusmod aliquip. Et duis officia veniam duis duis magna irure cillum minim amet non. Consequat occaecat sint velit voluptate consectetur sint qui officia incididunt adipisicing minim culpa ea. Tempor adipisicing anim dolore laborum officia cupidatat fugiat laboris cupidatat qui aliqua.
                    <br/>
                    <br/>
                    Excepteur cillum sit enim duis non. Deserunt reprehenderit commodo elit elit commodo ea Lorem elit nulla. Ullamco ullamco esse culpa fugiat aliqua do dolore proident sit mollit proident. Laboris incididunt enim eu sit eiusmod cupidatat cillum commodo qui cupidatat in nostrud velit occaecat. Velit dolor laboris proident ea dolore ut deserunt quis pariatur voluptate sunt.

                    Quis est pariatur veniam elit elit ex aute non aliquip voluptate ullamco velit consectetur. Sit Lorem deserunt dolor enim sunt fugiat. Ut culpa adipisicing ad id irure nisi.
                    <br />
                    <br />
                    Nulla irure dolor ea est excepteur proident. Non est eiusmod ad ex sint aliqua non ad officia tempor eiusmod esse dolor. Lorem eiusmod elit ullamco ullamco ipsum dolore labore Lorem.

                    Esse id adipisicing qui proident nostrud laboris proident. Labore anim tempor est elit nostrud nostrud magna proident. Reprehenderit enim Lorem labore ex nisi reprehenderit consectetur pariatur irure nisi consectetur Lorem. Commodo velit consectetur minim dolore pariatur consequat et officia enim nisi. Cillum exercitation labore elit ut esse esse irure non veniam.

                    Cupidatat id irure nisi est ex laboris nisi officia nisi culpa. Pariatur irure fugiat fugiat incididunt mollit officia non irure nostrud enim adipisicing eiusmod. Eu esse nulla enim dolore tempor in.
                </p>
            </div>
            <div id="notifications" class="tab-pane fade">
                <h1>Notifications</h1>
                <p>loremVoluptate consequat fugiat pariatur eiusmod aliquip. Et duis officia veniam duis duis magna irure cillum minim amet non. Consequat occaecat sint velit voluptate consectetur sint qui officia incididunt adipisicing minim culpa ea. Tempor adipisicing anim dolore laborum officia cupidatat fugiat laboris cupidatat qui aliqua.
                    <br/>
                    <br/>
                    Excepteur cillum sit enim duis non. Deserunt reprehenderit commodo elit elit commodo ea Lorem elit nulla. Ullamco ullamco esse culpa fugiat aliqua do dolore proident sit mollit proident. Laboris incididunt enim eu sit eiusmod cupidatat cillum commodo qui cupidatat in nostrud velit occaecat. Velit dolor laboris proident ea dolore ut deserunt quis pariatur voluptate sunt.

                    Quis est pariatur veniam elit elit ex aute non aliquip voluptate ullamco velit consectetur. Sit Lorem deserunt dolor enim sunt fugiat. Ut culpa adipisicing ad id irure nisi.
                    <br />
                    <br />
                    Nulla irure dolor ea est excepteur proident. Non est eiusmod ad ex sint aliqua non ad officia tempor eiusmod esse dolor. Lorem eiusmod elit ullamco ullamco ipsum dolore labore Lorem.

                    Esse id adipisicing qui proident nostrud laboris proident. Labore anim tempor est elit nostrud nostrud magna proident. Reprehenderit enim Lorem labore ex nisi reprehenderit consectetur pariatur irure nisi consectetur Lorem. Commodo velit consectetur minim dolore pariatur consequat et officia enim nisi. Cillum exercitation labore elit ut esse esse irure non veniam.

                    Cupidatat id irure nisi est ex laboris nisi officia nisi culpa. Pariatur irure fugiat fugiat incididunt mollit officia non irure nostrud enim adipisicing eiusmod. Eu esse nulla enim dolore tempor in.
                </p>
            </div>
            <div id="messages" class="tab-pane fade">
                <h1>Messages</h1>
                <p>loremVoluptate consequat fugiat pariatur eiusmod aliquip. Et duis officia veniam duis duis magna irure cillum minim amet non. Consequat occaecat sint velit voluptate consectetur sint qui officia incididunt adipisicing minim culpa ea. Tempor adipisicing anim dolore laborum officia cupidatat fugiat laboris cupidatat qui aliqua.
                    <br/>
                    <br/>
                    Excepteur cillum sit enim duis non. Deserunt reprehenderit commodo elit elit commodo ea Lorem elit nulla. Ullamco ullamco esse culpa fugiat aliqua do dolore proident sit mollit proident. Laboris incididunt enim eu sit eiusmod cupidatat cillum commodo qui cupidatat in nostrud velit occaecat. Velit dolor laboris proident ea dolore ut deserunt quis pariatur voluptate sunt.

                    Quis est pariatur veniam elit elit ex aute non aliquip voluptate ullamco velit consectetur. Sit Lorem deserunt dolor enim sunt fugiat. Ut culpa adipisicing ad id irure nisi.
                    <br />
                    <br />
                    Nulla irure dolor ea est excepteur proident. Non est eiusmod ad ex sint aliqua non ad officia tempor eiusmod esse dolor. Lorem eiusmod elit ullamco ullamco ipsum dolore labore Lorem.

                    Esse id adipisicing qui proident nostrud laboris proident. Labore anim tempor est elit nostrud nostrud magna proident. Reprehenderit enim Lorem labore ex nisi reprehenderit consectetur pariatur irure nisi consectetur Lorem. Commodo velit consectetur minim dolore pariatur consequat et officia enim nisi. Cillum exercitation labore elit ut esse esse irure non veniam.

                    Cupidatat id irure nisi est ex laboris nisi officia nisi culpa. Pariatur irure fugiat fugiat incididunt mollit officia non irure nostrud enim adipisicing eiusmod. Eu esse nulla enim dolore tempor in.
                </p>
            </div>
            
        </div>
    </div>




        </div>



    </div>
</section>



{% endblock %}