{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Augustine O.">
     <meta name="description" content="Connecting skilled works and professionals" />
    <meta name="keywords" content="Saves, Health care, Hospitals, Doctors, Html, Business, Health, GoodHealth" />
    <title> Freelance Work | Connecting skilled works and professionals.</title>

    <!-- core CSS -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" crossorigin="anonymous">
    <link href="{% static 'assets/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/icomoon.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/datepicker.min.css' %}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    
   
</head>
<!--/head-->

<body class="homepage">
    <header id="header">

        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="top-number">
                            <span class="p-color">Welcome to lanceWork</span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="social">
                            <ul class="social-share">
                                <li ><a href="#" class="p-color top-bg"><i class="fa fa-envelope"></i></a></li>
                                <li><a href="#" class="p-color top-bg"><i class="fa fa-bell"></i></a></li>
                            </ul>
                            <div class="search ">
                                <form role="form">
                                    <input type="text" style="border: 1px solid #f6f6f6;" class="search-form p-color " autocomplete="off" placeholder="Search">
                                    <i class="fa fa-search p-color "></i>
                                </form>
                            </div>
                            <ul class="social-share">&nbsp; &nbsp;
                                <li style="cursor: pointer;"><a href="#" class="p-color2 top-bg"><i class="fa fa-circle" style="font-size: 23px;"></i> </a> John Doe <i class="fa fa-caret-down"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.top-bar-->





        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-pencil" style="color: #1c89aa;"></i>&nbsp;<span style="color: #00bf6f;">lance</span><span style="color: #1c89aa;">Work</span></a>
                    </a>
                </div>

                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active" "><a href="#">Home</a></li>
                        <li><a href="#">Find Jobs</a></li>
                        <li><a href="#">Find Work</a></li>
                        <li><a href="#">Find Companies</a></li>
                        <li><a href="#">Find Professionals</a></li>
                         {% comment %} <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages&nbsp;<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Web design</a></li>
                                <li><a href="#">Web development</a></li>
                                <li><a href="#">Graphics</a></li>
                                <li><a href="#">Technician</a></li>
                                <li><a href="#">Copy writing</a></li>
                            </ul>
                        </li> {% endcomment %}


                    {% if user.is_authenticated %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages&nbsp;<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Settings</a></li>
                                <li><a class="dropdown-item" href="javascript:{document.getElementById('js-logout').submit()}" onClick=""> Logout</a></li>
                            </ul>
                            <form id="js-logout" method="POST" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                        </li>

                    {% else %}

                       <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Accounts&nbsp;<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'login' %}">Login</a></li>
                                <li><a href="{% url 'signup' %}">Register</a></li>
                            </ul> 
                        </li> 
                       
                    {% endif %}

                        <li><a class="post-a-job" href="#">POST A JOB</a></li>
                        <li><a class="post-a-task" href="#">POST A TASK</a></li>
                    
                    </ul>
                </div>
            </div>
            <!--/.container-->
        </nav>
        <!--/nav-->

    </header>
    <!--/header-->














{% block content %}

{% endblock %}


<section class="footer-one">
    <div class="container" >
        <div class="col-md-6">
            <h2>Subscribe to Newsletter</h2>
            <p class="light-black"><i class="fa fa-check-circle red-color"></i>&nbsp;&nbsp;
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>

        <div class="col-md-6 margin-top-30">
            <div class="input-group col-md-12">
                <input type="text" class="form-control col-md-12 form-controller"  placeholder="Your Email Address...">
                <span class="input-group-btn">
                    <button class="btn btn-default subscribe-button" type="button">Subscribe!</button>
                </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

    </div>
<div style="padding-top: 1px; background: #393939; margin-top: 10px;"></div>
    <div class="container margin-top-30 padding-bottom-30">
        
        <div class="col-md-4">
            <h2>LanceWork</h2>
            <p class="light-black">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                
                </p>

        </div>
        <div class="col-md-2 foot-color">
        <h2>About</h2>
        <p >Login</p>
        <p>My Account</p>
        <p>Contact</p>
        <p>Privacy </p>
        <p>Term of Use </p>


        </div>
        <div class="col-md-3 foot-color">
            <h2>For Company</h2>
            <p>Browse Freelancer</p>
            <p>Post a Job</p>
            <p>Post a project</p>
            <p>Pricing Plan </p>
        </div>
        <div class="col-md-3 foot-color">
            <h2>For Candidates</h2>
            <p>Browse Jobs</p>
            <p>Job Alerts</p>
            <p>Applied Job</p>
            <p>Bookmark </p>
        </div>
    </div>
</section>





 
<div class="container-fluid" >
    <footer id="footer" style="background: #000 !important" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    &copy; 2019 <a target="_blank" href="{% url 'home' %}" style="color: #fff;" title="LanceWork">LanceWork</a>.
                    All Rights Reserved.
                </div>
            
            </div>
        </div>
    </footer>
    <!--/#footer-->
</div>
   

    <script src="{% static 'assets/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.prettyPhoto.js' %}"></script>
    <script src="{% static 'assets/js/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.isotope.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    <script src="{% static 'assets/js/datepicker.min.js' %}"></script>
    
    </body>
    
    </html>