{% extends 'base.html' %}



{% block content %}
{% load static %}

<section class="home-search" >
    <div class="container">
        <div class="col-md-4">
            <input type="text" class="form-control" name="password2" placeholder="Keyword(eg Job Title, Position ...)" required="required">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" name="password2" placeholder="Location(eg City Country ...)" required="required">
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" name="password2" placeholder="Industry(eg Design, Art ...)" required="required">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary col-md-12 search-now"> <i class="fa fa-search"></i>&nbsp;SEARCH NOW</button>
        </div>
    </div>
</section>













{% comment %} find the latest job section. {% endcomment %}
<section id="featured-candidates3" class="pad-md-0">
    
      

       
            <div class="col-md-12">
                <!-- Controls -->
                <a class="left master-controller control-left fa fa-chevron-left btn btn-primary hidden-xs hidden-sm" href="#carousel-example-generic3" data-slide="prev"></a>
                <a class="right master-controller control-right fa fa-chevron-right btn btn-primary hidden-xs hidden-sm" href="#carousel-example-generic3" data-slide="next"></a>
            </div>
        <div id="carousel-example-generic3" class="carousel slide hidden-xs" data-ride="carousel" >
            <!-- Wrapper for slides -->
            <div class="carousel-inner" >
                <div class="item active">
                    
                        <div class="col-md-2 container-for-no-of-jobs-one bg-yellow" >
                            <div class="col-item">
                                <div class="col-md-12 pad-md-0 ">  
                                    <h5>Califonia</h5>
                                    <button class="btn btn-primary no-of-job"> 125 Jobs</button>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-md-2 pad-md-0 container-for-no-of-jobs-one bg-blue">
                            <div class="col-item pad-md-0">
                                <div class="col-md-12">  
                                    <h5>Austin</h5>
                                    <button class="btn btn-primary no-of-job"> 200 Jobs</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 container-for-no-of-jobs-one bg-red ">
                            <div class="col-item">
                                <div class="col-md-12">  
                                    <h5>Los Angeles</h5>
                                    <button class="btn btn-primary no-of-job"> 25 Jobs</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 container-for-no-of-jobs-one bg-green">
                            <div class="col-item">
                                <div class="col-md-12">  
                                    <h5>Tulsa</h5>
                                    <button class="btn btn-primary no-of-job"> 190 Jobs</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 container-for-no-of-jobs-one bg-purple">
                            <div class="col-item">
                                <div class="col-md-12 ">  
                                    <h5>Texas</h5>
                                    <button class="btn btn-primary no-of-job"> 112 Jobs</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 container-for-no-of-jobs-one bg-orange">
                            <div class="col-item">
                                <div class="col-md-12 ">  
                                    <h5>San Francisco</h5>
                                    <button class="btn btn-primary no-of-job"> 20 Jobs</button>
                                </div>
                            </div>
                        </div>
                    
                </div>
                <div class="item">

                        <div class="col-md-2 container-for-no-of-jobs-one bg-yellow" >
                            <div class="col-item">
                                <div class="col-md-12 pad-md-0 ">  
                                    <h5>Califonia</h5>
                                    <button class="btn btn-primary no-of-job"> 125 Jobs</button>
                                </div>                                
                            </div>
                        </div>
                        <div class="col-md-2 pad-md-0 container-for-no-of-jobs-one bg-blue">
                            <div class="col-item pad-md-0">
                                <div class="col-md-12">  
                                    <h5>Austin</h5>
                                    <button class="btn btn-primary no-of-job"> 200 Jobs</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 container-for-no-of-jobs-one bg-red">
                            <div class="col-item">
                                <div class="col-md-12">  
                                    <h5>Los Angeles</h5>
                                    <button class="btn btn-primary no-of-job"> 25 Jobs</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 container-for-no-of-jobs-one bg-green">
                            <div class="col-item">
                                <div class="col-md-12">  
                                    <h5>Tulsa</h5>
                                    <button class="btn btn-primary no-of-job"> 190 Jobs</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 container-for-no-of-jobs-one bg-purple">
                            <div class="col-item">
                                <div class="col-md-12 ">  
                                    <h5>Texas</h5>
                                    <button class="btn btn-primary no-of-job"> 112 Jobs</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 container-for-no-of-jobs-one bg-orange">
                            <div class="col-item">
                                <div class="col-md-12 ">  
                                    <h5>San Francisco</h5>
                                    <button class="btn btn-primary no-of-job"> 20 Jobs</button>
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
        </div>
   
</section>





















































<section class="section-pad-0">
    <div class="container">
        <div class="col-md-3 member-container ">
            <p>3M Registered Members</p>
        </div>
        <div class="col-md-3 member-container ">
            <p>986k JobsFound</p>
        </div>
        <div class="col-md-3 member-container  ">
            <p>1.2k Best Companies</p>
        </div>
        <div class="col-md-3 button-container pad-md-0 ">
            <div class="col-md-6 pad-right-7">
                <button type="submit" class="btn btn-primary col-md-12 how-it-works">HOW IT WORKS</button>
            </div>
            <div class="col-md-6 pad-left-7">
                <button type="submit" class="btn btn-primary col-md-12 post-a-job-search"> POST A JOB</button>
            </div>
        </div>

    </div>
</section>




{% comment %} How it works section {% endcomment %}
<section id="how-freelance-work-works">
    <div class="container">
        <div class="col-md-12 text-center">
            <h4> How Lancework Works</h4>
            <small class="light-black">Offers the Best Deal.</small>
            <p class="underliner center-block"><p>
        </div>


        <div class="col-md-12 pad-md-0 container-how-it-works">
            <div class="col-md-3">
                <div class="col-md-12 add-border pad-md-30 pad-to-20 each-how-it-works">
                    <h5>Searching the best jobs</h5>
                    <p class="light-black">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                    sed do eiusmod tempor .
                    </p>
                    <strong><p>Read More >></p></strong>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col-md-12 add-border pad-md-30 pad-to-20 each-how-it-works">
                    <h5>Searching the best jobs</h5>
                    <p class="light-black">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                    sed do eiusmod tempor .
                    </p>
                    <strong><p>Read More >></p></strong>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col-md-12 add-border pad-md-30 pad-to-20 each-how-it-works">
                    <h5>Searching the best jobs</h5>
                    <p class="light-black">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                    sed do eiusmod tempor.
                    </p>
                    <strong><p>Read More >></p></strong>
                </div>
            </div>

            <div class="col-md-3">
                <div class="col-md-12 add-border pad-md-30 pad-to-20 each-how-it-works">
                    <h5>Searching the best jobs</h5>
                    <p class="light-black">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                    sed do eiusmod tempor.
                    </p>
                    <strong><p>Read More >></p></strong>
                </div>
            </div>

        </div>
    </div>
</section>













{% comment %} find the latest job section. {% endcomment %}
<section id="featured-candidates2" >
<div class="container">
    <div class="row">
        <div class="row">

        <div class="col-md-12 text-center margin-bottom-60">
            <h4> Find Latest Jobs</h4>
            <small class="light-black">Your Job For a Future.</small>
            <p class="underliner center-block"><p>
        </div>
                    
            <div class="col-md-12">
                <!-- Controls -->
                <a class="left master-controller control-left2 fa fa-chevron-left btn btn-primary hidden-xs hidden-sm" href="#carousel-example-generic" data-slide="prev"></a>
                <a class="right master-controller control-right2 fa fa-chevron-right btn btn-primary hidden-xs hidden-sm" href="#carousel-example-generic" data-slide="next"></a>
            </div>
        </div>
        <div id="carousel-example-generic" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-item">



                                <div class="col-md-12 pad-md-0 add-border each-container-latest-job">
                                    <div class="col-md-12 margin-top-20">
                                        <div class="col-md-2 pad-md-0">
                                            <i class="fa fa-circle profile-color" style="font-size: 40px;"></i>
                                        </div>

                                        <div class="col-md-7 pad-md-0 ">
                                        <strong><p class="p-margin-bottom-0">Evanto</p></strong>
                                        <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; Australia</small>
                                        </div>

                                        <div class="col-md-3 pad-md-0 text-center">
                                            <strong><p class="p-margin-bottom-0">$900/hr</p></strong>
                                            <span class="label label-primary type-of-role">Full Time</span>
                                        </div>
                                    </div>

                                    <div class="col-md-12 margin-top-10">
                                        <h4>WordPress Developer</h4>
                                        <p class="light-black">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                            sed do eiusmod tempor.
                                        </p>
                                        <span class="label label-primary job-skills">HTML</span>
                                        <span class="label label-primary job-skills">CSS</span>
                                        <span class="label label-primary job-skills">Wordpress</span>
                                        <span class="label label-primary  other-skills" style="border-radius: 10px;">+4</span>
                                    </div>

                                    <div class="col-md-12 pad-md-0 margin-top-20">
                                        <div class="col-md-5 pad-md-0 apply-now">
                                            <p>APPLY NOW</p>
                                        </div>
                                        <div class="col-md-5 pad-md-0 view-jobs">
                                            <p>VIEW JOB</p>
                                        </div>
                                        <div class="col-md-2 pad-md-0 love-job">
                                            <i class="fa fa-heart"></i>
                                        </div>
                                    </div>
                                </div>


                                
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">


                                <div class="col-md-12 pad-md-0 add-border each-container-latest-job">
                                    <div class="col-md-12 margin-top-20">
                                        <div class="col-md-2 pad-md-0">
                                            <i class="fa fa-circle profile-color" style="font-size: 40px;"></i>
                                        </div>

                                        <div class="col-md-7 pad-md-0 ">
                                        <strong><p class="p-margin-bottom-0">Johnson Smith</p></strong>
                                        <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; India</small>
                                        </div>

                                        <div class="col-md-3 pad-md-0 text-center">
                                            <strong><p class="p-margin-bottom-0">$50/hr</p></strong>
                                            <span class="label label-primary type-of-role">Part Time</span>
                                        </div>
                                    </div>

                                    <div class="col-md-12 margin-top-10">
                                        <h4>PHP Developer</h4>
                                        <p class="light-black">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                            sed do eiusmod tempor.
                                        </p>
                                        <span class="label label-primary job-skills">PHP</span>
                                        <span class="label label-primary job-skills">Sql</span>
                                        <span class="label label-primary job-skills">Javascript</span>
                                        <span class="label label-primary  other-skills" style="border-radius: 10px;">+1</span>
                                    </div>

                                    <div class="col-md-12 pad-md-0 margin-top-20">
                                        <div class="col-md-5 pad-md-0 apply-now">
                                            <p>APPLY NOW</p>
                                        </div>
                                        <div class="col-md-5 pad-md-0 view-jobs">
                                            <p>VIEW JOB</p>
                                        </div>
                                        <div class="col-md-2 pad-md-0 love-job">
                                            <i class="fa fa-heart"></i>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">


                                <div class="col-md-12 pad-md-0 add-border each-container-latest-job">
                                    <div class="col-md-12 margin-top-20">
                                        <div class="col-md-2 pad-md-0">
                                            <i class="fa fa-circle profile-color" style="font-size: 40px;"></i>
                                        </div>

                                        <div class="col-md-7 pad-md-0 ">
                                        <strong><p class="p-margin-bottom-0">Evanto</p></strong>
                                        <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; Australia</small>
                                        </div>

                                        <div class="col-md-3 pad-md-0 text-center">
                                            <strong><p class="p-margin-bottom-0">$900/hr</p></strong>
                                            <span class="label label-primary type-of-role">Full Time</span>
                                        </div>
                                    </div>

                                    <div class="col-md-12 margin-top-10">
                                        <h4>WordPress Developer</h4>
                                        <p class="light-black">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                            sed do eiusmod tempor.
                                        </p>
                                        <span class="label label-primary job-skills">HTML</span>
                                        <span class="label label-primary job-skills">CSS</span>
                                        <span class="label label-primary job-skills">Wordpress</span>
                                        <span class="label label-primary  other-skills" style="border-radius: 10px;">+4</span>
                                    </div>

                                    <div class="col-md-12 pad-md-0 margin-top-20">
                                        <div class="col-md-5 pad-md-0 apply-now">
                                            <p>APPLY NOW</p>
                                        </div>
                                        <div class="col-md-5 pad-md-0 view-jobs">
                                            <p>VIEW JOB</p>
                                        </div>
                                        <div class="col-md-2 pad-md-0 love-job">
                                            <i class="fa fa-heart"></i>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-item">


                                <div class="col-md-12 pad-md-0 add-border each-container-latest-job">
                                    <div class="col-md-12 margin-top-20">
                                        <div class="col-md-2 pad-md-0">
                                            <i class="fa fa-circle profile-color" style="font-size: 40px;"></i>
                                        </div>

                                        <div class="col-md-7 pad-md-0 ">
                                        <strong><p class="p-margin-bottom-0">Evanto</p></strong>
                                        <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; Australia</small>
                                        </div>

                                        <div class="col-md-3 pad-md-0 text-center">
                                            <strong><p class="p-margin-bottom-0">$900/hr</p></strong>
                                            <span class="label label-primary type-of-role">Full Time</span>
                                        </div>
                                    </div>

                                    <div class="col-md-12 margin-top-10">
                                        <h4>WordPress Developer</h4>
                                        <p class="light-black">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                            sed do eiusmod tempor.
                                        </p>
                                        <span class="label label-primary job-skills">HTML</span>
                                        <span class="label label-primary job-skills">CSS</span>
                                        <span class="label label-primary job-skills">Wordpress</span>
                                        <span class="label label-primary  other-skills" style="border-radius: 10px;">+4</span>
                                    </div>

                                    <div class="col-md-12 pad-md-0 margin-top-20">
                                        <div class="col-md-5 pad-md-0 apply-now">
                                            <p>APPLY NOW</p>
                                        </div>
                                        <div class="col-md-5 pad-md-0 view-jobs">
                                            <p>VIEW JOB</p>
                                        </div>
                                        <div class="col-md-2 pad-md-0 love-job">
                                            <i class="fa fa-heart"></i>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">


                                 <div class="col-md-12 pad-md-0 add-border each-container-latest-job">
                                    <div class="col-md-12 margin-top-20">
                                        <div class="col-md-2 pad-md-0">
                                            <i class="fa fa-circle profile-color" style="font-size: 40px;"></i>
                                        </div>

                                        <div class="col-md-7 pad-md-0 ">
                                        <strong><p class="p-margin-bottom-0">Johnson Smith</p></strong>
                                        <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; India</small>
                                        </div>

                                        <div class="col-md-3 pad-md-0 text-center">
                                            <strong><p class="p-margin-bottom-0">$50/hr</p></strong>
                                            <span class="label label-primary type-of-role">Part Time</span>
                                        </div>
                                    </div>

                                    <div class="col-md-12 margin-top-10">
                                        <h4>PHP Developer</h4>
                                        <p class="light-black">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                            sed do eiusmod tempor.
                                        </p>
                                        <span class="label label-primary job-skills">PHP</span>
                                        <span class="label label-primary job-skills">Sql</span>
                                        <span class="label label-primary job-skills">Javascript</span>
                                        <span class="label label-primary  other-skills" style="border-radius: 10px;">+1</span>
                                    </div>

                                    <div class="col-md-12 pad-md-0 margin-top-20">
                                        <div class="col-md-5 pad-md-0 apply-now">
                                            <p>APPLY NOW</p>
                                        </div>
                                        <div class="col-md-5 pad-md-0 view-jobs">
                                            <p>VIEW JOB</p>
                                        </div>
                                        <div class="col-md-2 pad-md-0 love-job">
                                            <i class="fa fa-heart"></i>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">
                                <div class="col-md-12 pad-md-0 add-border each-container-latest-job">
                                    <div class="col-md-12 margin-top-20">
                                        <div class="col-md-2 pad-md-0">
                                            <i class="fa fa-circle profile-color" style="font-size: 40px;"></i>
                                        </div>

                                        <div class="col-md-7 pad-md-0 ">
                                        <strong><p class="p-margin-bottom-0">John Doe</p></strong>
                                        <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; New York City</small>
                                        </div>

                                        <div class="col-md-3 pad-md-0 text-center">
                                            <strong><p class="p-margin-bottom-0">$599/hr</p></strong>
                                            <span class="label label-primary type-of-role">Full Time</span>
                                        </div>
                                    </div>

                                    <div class="col-md-12 margin-top-10">
                                        <h4>UX Designer</h4>
                                        <p class="light-black">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                                            sed do eiusmod tempor.
                                        </p>
                                        <span class="label label-primary job-skills">UX</span>
                                        <span class="label label-primary job-skills">UI</span>
                                        <span class="label label-primary job-skills">Photoshop</span>
                                        <span class="label label-primary  other-skills" style="border-radius: 10px;">+4</span>
                                    </div>

                                    <div class="col-md-12 pad-md-0 margin-top-20">
                                        <div class="col-md-5 pad-md-0 apply-now">
                                            <p>APPLY NOW</p>
                                        </div>
                                        <div class="col-md-5 pad-md-0 view-jobs">
                                            <p>VIEW JOB</p>
                                        </div>
                                        <div class="col-md-2 pad-md-0 love-job">
                                            <i class="fa fa-heart"></i>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
         <div class="col-md-12 margin-top-30">
            <button type="submit" class="btn btn-primary center-block browse-all-jobs">BROWSE ALL JOBS</button>
        </div>
</div>

</section>

















{% comment %} different kind of skills {% endcomment %}
<section id="kind-of-skills">
    <div class="container">

        <div class="col-md-2 kind-of-jobs2 border-right text-center">
            <div class="job-icons add-border center-block"> <i class="fa fa-graduation-cap"></i> </div>
            <h5>Education & Training</h5>
            <small class="light-black"><strong>150 Jobs</strong></small>
        </div>
        <div class="col-md-2 kind-of-jobs2 text-center">
            <div class="job-icons add-border center-block"> <i class="fa fa-wallet"></i> </div>
            <h5>Sales & Marketing</h5>
            <small class="light-black"><strong>120 Jobs</strong></small>
        </div>
        <div class="col-md-2 kind-of-jobs2 text-center">
            <div class="job-icons add-border center-block"> <i class="fa fa-wallet"></i> </div>
            <h5>Programming</h5>
            <small class="light-black"><strong>290 Jobs</strong></small>
        </div>
        <div class="col-md-2 kind-of-jobs2 text-center">
            <div class="job-icons add-border center-block"> <i class="fa fa-pencil-alt"></i> </div>
            <h5>Design & Multimedia</h5>
            <small class="light-black"><strong>250 Jobs</strong></small>
        </div>
        <div class="col-md-2 kind-of-jobs2 text-center">
            <div class="job-icons add-border center-block"> <i class="fa fa-wallet"></i> </div>
            <h5>Web Development</h5>
            <small class="light-black"><strong>150 Jobs</strong></small>
        </div>
        <div class="col-md-2 kind-of-jobs2 text-center">
            <div class="job-icons add-border center-block"> <i class="fa fa-briefcase"></i> </div>
            <h5>Medical & Phama</h5>
            <small class="light-black"><strong>150 Jobs</strong></small>
        </div>




        <div class="col-md-2 kind-of-jobs2 border-right text-center">
            <div class="job-icons add-border center-block"> <i class="fa fa-wallet"></i> </div>
            <h5>Engineer & Architacts</h5>
            <small class="light-black"><strong>250 Jobs</strong></small>
        </div>
        <div class="col-md-2 kind-of-jobs text-center">
            <div class="job-icons add-border center-block"> <i class="fa fa-plane"></i> </div>
            <h5>Logistics</h5>
            <small class="light-black"><strong>80 Jobs</strong></small>
        </div>
        <div class="col-md-2 kind-of-jobs text-center">
            <div class="job-icons add-border center-block"> <i class="fa fa-atom"></i> </div>
            <h5>Science</h5>
            <small class="light-black"><strong>150 Jobs</strong></small>
        </div>
        <div class="col-md-2 kind-of-jobs text-center">
            <div class="job-icons add-border center-block"> <i class="fa fa-free-code-camp"></i> </div>
            <h5>Food Service</h5>
            <small class="light-black"><strong>150 Jobs</strong></small>
        </div>
        <div class="col-md-2 kind-of-jobs text-center">
            <div class="job-icons add-border center-block"> <i class="fa fa-money-bill-alt"></i> </div>
            <h5>Finance</h5>
            <small class="light-black"><strong>410 Jobs</strong></small>
        </div>
        <div class="col-md-2 kind-of-jobs text-center">
            <div class="job-icons add-border center-block"> <i class="fa fa-school"></i> </div>
            <h5>Construction</h5>
            <small class="light-black"><strong>190 Jobs</strong></small>
        </div>
       

    </div>
</section>
















{% comment %} find the latest job section. {% endcomment %}
<section id="featured-candidates2" style="background: #eee;">
<div class="container">
    <div class="row">
        <div class="row">

        <div class="col-md-12 text-center margin-bottom-60">
            <h4>Featured Candidates</h4>
            <small class="light-black">Discover, Intelligent, Experienced, Professional, Trustworthy Freelancer $ Full Time Candidates .</small>
            <p class="underliner center-block"><p>
        </div>

             <div class="col-md-12">
                <!-- Controls -->
                <a class="left master-controller control-left2 fa fa-chevron-left btn btn-primary hidden-xs hidden-sm" href="#carousel-example-generic2" data-slide="prev"></a>
                <a class="right master-controller control-right2 fa fa-chevron-right btn btn-primary hidden-xs hidden-sm" href="#carousel-example-generic2" data-slide="next"></a>
            </div>

        </div>
        <div id="carousel-example-generic2" class="carousel slide hidden-xs" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-item">



                                <div class="col-md-12 pad-md-0 add-border each-container-latest-job" style="background: #fff;">
                                    <div class="col-md-12 margin-top-20">
                                        <div class="col-md-12 pad-md-0 text-center">
                                            <i class="fa fa-circle profile-color" style="font-size: 100px;"></i>
                                            <strong><span class="p-margin-bottom-0 candidate-price" style="position: absolute">$50/hr</span></strong>
                                        </div>

                                        <div class="col-md-12 pad-md-0 text-center">
                                            <strong><p class="p-margin-bottom-0 margin-top-15">Albert Due</p></strong>
                                            <strong><small class="light-black">UX Designer</small></strong>
                                            <p class="candidate-availability">Available Full Time</p>
                                        </div>


                                        <div class="col-md-12 pad-md-0 margin-top-15">
                                            <div class="col-md-7">
                                            <strong><p>Rating</p></strong>
                                            <p>
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                            
                                                
                                                <span class="label label-primary star-rating type-of-role">4.9</span>
                                            </p>

                                            </div>
                                            <div class="col-md-4 pad-md-0">
                                                <strong><p>Location</p></strong>
                                                <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; New York City</small>
                                            </div>

                                        </div>
                                    </div>

                                    
                                    <div class="col-md-12 pad-md-0 margin-top-20">
                                        <div class="col-md-5 pad-md-0 apply-now">
                                            <p>VIEW PROFILE</p>
                                        </div>
                                        <div class="col-md-5 pad-md-0 view-jobs">
                                            <p>HIRE ME</p>
                                        </div>
                                        <div class="col-md-2 pad-md-0 love-job">
                                            <i class="fa fa-heart"></i>
                                        </div>
                                    </div>

                                </div>



                                
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">


                                <div class="col-md-12 pad-md-0 add-border each-container-latest-job" style="background: #fff;">
                                    <div class="col-md-12 margin-top-20">
                                        <div class="col-md-12 pad-md-0 text-center">
                                            <i class="fa fa-circle profile-color" style="font-size: 100px;"></i>
                                            <strong><span class="p-margin-bottom-0 candidate-price" style="position: absolute">$50/hr</span></strong>
                                        </div>

                                        <div class="col-md-12 pad-md-0 text-center">
                                            <strong><p class="p-margin-bottom-0 margin-top-15">Albert Due</p></strong>
                                            <strong><small class="light-black">UX Designer</small></strong>
                                            <p class="candidate-availability2">Available Full Time</p>
                                        </div>


                                        <div class="col-md-12 pad-md-0 margin-top-15">
                                            <div class="col-md-7">
                                            <strong><p>Rating</p></strong>
                                            <p>
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                            
                                                
                                                <span class="label label-primary star-rating type-of-role">4.9</span>
                                            </p>

                                            </div>
                                            <div class="col-md-4 pad-md-0">
                                                <strong><p>Location</p></strong>
                                                <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; New York City</small>
                                            </div>

                                        </div>
                                    </div>

                                    
                                    <div class="col-md-12 pad-md-0 margin-top-20">
                                        <div class="col-md-5 pad-md-0 apply-now">
                                            <p>VIEW PROFILE</p>
                                        </div>
                                        <div class="col-md-5 pad-md-0 view-jobs">
                                            <p>HIRE ME</p>
                                        </div>
                                        <div class="col-md-2 pad-md-0 love-job">
                                            <i class="fa fa-heart"></i>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">


                                <div class="col-md-12 pad-md-0 add-border each-container-latest-job" style="background: #fff;">
                                    <div class="col-md-12 margin-top-20">
                                        <div class="col-md-12 pad-md-0 text-center">
                                            <i class="fa fa-circle profile-color" style="font-size: 100px;"></i>
                                            <strong><span class="p-margin-bottom-0 candidate-price" style="position: absolute">$50/hr</span></strong>
                                        </div>

                                        <div class="col-md-12 pad-md-0 text-center">
                                            <strong><p class="p-margin-bottom-0 margin-top-15">Albert Due</p></strong>
                                            <strong><small class="light-black">UX Designer</small></strong>
                                            <p class="candidate-availability">Available Full Time</p>
                                        </div>


                                        <div class="col-md-12 pad-md-0 margin-top-15">
                                            <div class="col-md-7">
                                            <strong><p>Rating</p></strong>
                                            <p>
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                            
                                                
                                                <span class="label label-primary star-rating type-of-role">4.9</span>
                                            </p>

                                            </div>
                                            <div class="col-md-4 pad-md-0">
                                                <strong><p>Location</p></strong>
                                                <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; New York City</small>
                                            </div>

                                        </div>
                                    </div>

                                    
                                    <div class="col-md-12 pad-md-0 margin-top-20">
                                        <div class="col-md-5 pad-md-0 apply-now">
                                            <p>VIEW PROFILE</p>
                                        </div>
                                        <div class="col-md-5 pad-md-0 view-jobs">
                                            <p>HIRE ME</p>
                                        </div>
                                        <div class="col-md-2 pad-md-0 love-job">
                                            <i class="fa fa-heart"></i>
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-item">


                                <div class="col-md-12 pad-md-0 add-border each-container-latest-job" style="background: #fff;">
                                    <div class="col-md-12 margin-top-20">
                                        <div class="col-md-12 pad-md-0 text-center">
                                            <i class="fa fa-circle profile-color" style="font-size: 100px;"></i>
                                            <strong><span class="p-margin-bottom-0 candidate-price" style="position: absolute">$50/hr</span></strong>
                                        </div>

                                        <div class="col-md-12 pad-md-0 text-center">
                                            <strong><p class="p-margin-bottom-0 margin-top-15">Albert Due</p></strong>
                                            <strong><small class="light-black">UX Designer</small></strong>
                                           <p class="candidate-availability2">Available Full Time</p>
                                        </div>


                                        <div class="col-md-12 pad-md-0 margin-top-15">
                                            <div class="col-md-7">
                                            <strong><p>Rating</p></strong>
                                            <p>
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                            
                                                
                                                <span class="label label-primary star-rating type-of-role">4.9</span>
                                            </p>

                                            </div>
                                            <div class="col-md-4 pad-md-0">
                                                <strong><p>Location</p></strong>
                                                <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; New York City</small>
                                            </div>

                                        </div>
                                    </div>

                                    
                                    <div class="col-md-12 pad-md-0 margin-top-20">
                                        <div class="col-md-5 pad-md-0 apply-now">
                                            <p>VIEW PROFILE</p>
                                        </div>
                                        <div class="col-md-5 pad-md-0 view-jobs">
                                            <p>HIRE ME</p>
                                        </div>
                                        <div class="col-md-2 pad-md-0 love-job">
                                            <i class="fa fa-heart"></i>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">


                                <div class="col-md-12 pad-md-0 add-border each-container-latest-job" style="background: #fff;">
                                    <div class="col-md-12 margin-top-20">
                                        <div class="col-md-12 pad-md-0 text-center">
                                            <i class="fa fa-circle profile-color" style="font-size: 100px;"></i>
                                            <strong><span class="p-margin-bottom-0 candidate-price" style="position: absolute">$50/hr</span></strong>
                                        </div>

                                        <div class="col-md-12 pad-md-0 text-center">
                                            <strong><p class="p-margin-bottom-0 margin-top-15">Albert Due</p></strong>
                                            <strong><small class="light-black">UX Designer</small></strong>
                                            <p class="candidate-availability">Available Full Time</p>
                                        </div>


                                        <div class="col-md-12 pad-md-0 margin-top-15">
                                            <div class="col-md-7">
                                            <strong><p>Rating</p></strong>
                                            <p>
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                            
                                                
                                                <span class="label label-primary star-rating type-of-role">4.9</span>
                                            </p>

                                            </div>
                                            <div class="col-md-4 pad-md-0">
                                                <strong><p>Location</p></strong>
                                                <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; New York City</small>
                                            </div>

                                        </div>
                                    </div>

                                    
                                    <div class="col-md-12 pad-md-0 margin-top-20">
                                        <div class="col-md-5 pad-md-0 apply-now">
                                            <p>VIEW PROFILE</p>
                                        </div>
                                        <div class="col-md-5 pad-md-0 view-jobs">
                                            <p>HIRE ME</p>
                                        </div>
                                        <div class="col-md-2 pad-md-0 love-job">
                                            <i class="fa fa-heart"></i>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-item">


                                <div class="col-md-12 pad-md-0 add-border each-container-latest-job" style="background: #fff;">
                                    <div class="col-md-12 margin-top-20">
                                        <div class="col-md-12 pad-md-0 text-center">
                                            <i class="fa fa-circle profile-color" style="font-size: 100px;"></i>
                                            <strong><span class="p-margin-bottom-0 candidate-price" style="position: absolute">$50/hr</span></strong>
                                        </div>

                                        <div class="col-md-12 pad-md-0 text-center">
                                            <strong><p class="p-margin-bottom-0 margin-top-15">Albert Due</p></strong>
                                            <strong><small class="light-black">UX Designer</small></strong>
                                            <p class="candidate-availability">Available Full Time</p>
                                        </div>

                                        <div class="col-md-12 pad-md-0 margin-top-15">
                                            <div class="col-md-7">
                                            <strong><p>Rating</p></strong>
                                            <p>
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <i class="fa fa-star star-color"></i>&nbsp;
                                                <span class="label label-primary star-rating type-of-role">4.9</span>
                                            </p>

                                            </div>
                                            <div class="col-md-4 pad-md-0">
                                                <strong><p>Location</p></strong>
                                                <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; New York City</small>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-12 pad-md-0 margin-top-20">
                                        <div class="col-md-5 pad-md-0 apply-now">
                                            <p>VIEW PROFILE</p>
                                        </div>
                                        <div class="col-md-5 pad-md-0 view-jobs">
                                            <p>HIRE ME</p>
                                        </div>
                                        <div class="col-md-2 pad-md-0 love-job">
                                            <i class="fa fa-heart"></i>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
        <div class="col-md-12 margin-top-60">
            <button type="submit" class="btn btn-primary center-block browse-all-jobs">SEE ALL PROFESSIONALS</button>
        </div>
</div>

</section>

























































































































































{% comment %} post Job and Tallented candidates {% endcomment %}
<section id="post-jobs-and-talented-candidates">
    <div class="container">

    <div class="col-md-6 post-a-job-section">
        <div class="col-md-12 pad-md-0">
            <h2>Post Jobs</h2>
            <p class="post-job-caption">Quick and Easy way to advertise.</p>
            <p class="underliner margin-top-10"><p>

            <p class="margin-top-30 margin-bottom-30"> 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            </p>

            <strong><p><i class="fa fa-check-circle red-color"></i>&nbsp;&nbsp;Hire for your company.</p></strong>
            <p class="company-details margin-bottom-30">adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>


            <strong><p><i class="fa fa-check-circle red-color"></i>&nbsp;&nbsp;Daily outreach to qualified matches.</p></strong>
            <p class="company-details">adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

        </div>

        <div class="col-md-12 pad-md-0 margin-top-20">
            <button type="submit" class="btn btn-primary post-a-job-search2">POST A JOB</button>
            <button type="submit" class="btn btn-primary learn-more-button"> LEARN MORE</button>
        </div>
    </div>

    <div class="col-md-6 post-a-job-section">
        <div class="col-md-12 pad-md-0">
            <h2>Talented Candidates</h2>
            <p class="post-job-caption">Get discovered by company looking to hire remote.</p>
            <p class="underliner margin-top-10"><p>

            <p class="margin-top-30 margin-bottom-30"> 
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            </p>

            <strong><p><i class="fa fa-check-circle red-color"></i>&nbsp;&nbsp;Get your profile listed.</p></strong>
            <p class="company-details margin-bottom-30">adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>


            <strong><p><i class="fa fa-check-circle red-color"></i>&nbsp;&nbsp;Customize your profile.</p></strong>
            <p class="company-details">adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>

        </div>

        <div class="col-md-12 pad-md-0 margin-top-20">
            <button type="submit" class="btn btn-primary post-a-job-search2">GET LISTED</button>
            <button type="submit" class="btn btn-primary learn-more-button"> LEARN MORE</button>
        </div>
    </div>



    </div>
</section>


{% endblock %}
