{% extends 'base.html' %}



{% block content %}
{% load static %}


<section id="no-of-jobs">
    <div class="col-md-2 container-for-no-of-jobs-one bg-yellow">  
        <h5>Califonia</h5>
        <button class="btn btn-primary no-of-job"> 125 Jobs</button>
    </div>
    <div class="col-md-2 container-for-no-of-jobs-one bg-blue">  
        <h5>Austin</h5>
        <button class="btn btn-primary no-of-job"> 200 Jobs</button>
    </div>
    <div class="col-md-2 container-for-no-of-jobs-one bg-red">  
        <h5>Los Angeles</h5>
        <button class="btn btn-primary no-of-job"> 25 Jobs</button>
    </div>
    <div class="col-md-2 container-for-no-of-jobs-one bg-green">  
        <h5>Tulsa</h5>
        <button class="btn btn-primary no-of-job"> 190 Jobs</button>
    </div>
    <div class="col-md-2 container-for-no-of-jobs-one bg-purple">  
        <h5>Texas</h5>
        <button class="btn btn-primary no-of-job"> 112 Jobs</button>
    </div>
    <div class="col-md-2 container-for-no-of-jobs-one bg-orange">  
        <h5>San Francisco</h5>
        <button class="btn btn-primary no-of-job"> 20 Jobs</button>
    </div>
</section>







{% comment %} find the latest job section. {% endcomment %}
<section id="find-the-latest-job">
    <div class="container margin-top-60">
        <div class="col-md-12 text-center margin-bottom-60">
            <h4> Find Latest Jobs</h4>
            <small class="light-black">Your Job For a Future.</small>
            <p class="underliner center-block"><p>
        </div>

        <div class="col-md-4">
            <div class="col-md-12 pad-md-0 add-border each-container-latest-job">
                <div class="col-md-12 margin-top-20">
                    <div class="col-md-2 pad-md-0">
                        <i class="fa fa-circle profile-color" style="font-size: 40px;"></i>
                    </div>

                    <div class="col-md-7 pad-md-0 ">
                    <strong><p class="p-margin-bottom-0">John Doe</p></strong>
                    <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; New York City</small>
                    </div>

                    <div class="col-md-3 pad-md-0 text-center">
                        <strong><p class="p-margin-bottom-0">$599/hr</p></strong>
                        <span class="label label-primary type-of-role">Full Time</span>
                    </div>
                </div>

                <div class="col-md-12 margin-top-10">
                    <h4>UX Designer</h4>
                    <p class="light-black">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                        sed do eiusmod tempor.
                    </p>
                    <span class="label label-primary job-skills">UX</span>
                    <span class="label label-primary job-skills">UI</span>
                    <span class="label label-primary job-skills">Photoshop</span>
                    <span class="label label-primary  other-skills" style="border-radius: 10px;">+4</span>
                </div>

                <div class="col-md-12 pad-md-0 margin-top-20">
                    <div class="col-md-5 pad-md-0 apply-now">
                        <p>APPLY NOW</p>
                    </div>
                    <div class="col-md-5 pad-md-0 view-jobs">
                        <p>VIEW JOB</p>
                    </div>
                    <div class="col-md-2 pad-md-0 love-job">
                        <i class="fa fa-heart"></i>
                    </div>

                </div>

            </div>
        </div>



        <div class="col-md-4">
            <div class="col-md-12 pad-md-0 add-border each-container-latest-job">
                <div class="col-md-12 margin-top-20">
                    <div class="col-md-2 pad-md-0">
                        <i class="fa fa-circle profile-color" style="font-size: 40px;"></i>
                    </div>

                    <div class="col-md-7 pad-md-0 ">
                    <strong><p class="p-margin-bottom-0">Johnson Smith</p></strong>
                    <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; India</small>
                    </div>

                    <div class="col-md-3 pad-md-0 text-center">
                        <strong><p class="p-margin-bottom-0">$50/hr</p></strong>
                        <span class="label label-primary type-of-role">Part Time</span>
                    </div>
                </div>

                <div class="col-md-12 margin-top-10">
                    <h4>PHP Developer</h4>
                    <p class="light-black">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                        sed do eiusmod tempor.
                    </p>
                    <span class="label label-primary job-skills">PHP</span>
                    <span class="label label-primary job-skills">Sql</span>
                    <span class="label label-primary job-skills">Javascript</span>
                    <span class="label label-primary  other-skills" style="border-radius: 10px;">+1</span>
                </div>

                <div class="col-md-12 pad-md-0 margin-top-20">
                    <div class="col-md-5 pad-md-0 apply-now">
                        <p>APPLY NOW</p>
                    </div>
                    <div class="col-md-5 pad-md-0 view-jobs">
                        <p>VIEW JOB</p>
                    </div>
                    <div class="col-md-2 pad-md-0 love-job">
                        <i class="fa fa-heart"></i>
                    </div>

                </div>

            </div>
        </div>



        <div class="col-md-4">
            <div class="col-md-12 pad-md-0 add-border each-container-latest-job">
                <div class="col-md-12 margin-top-20">
                    <div class="col-md-2 pad-md-0">
                        <i class="fa fa-circle profile-color" style="font-size: 40px;"></i>
                    </div>

                    <div class="col-md-7 pad-md-0 ">
                    <strong><p class="p-margin-bottom-0">Evanto</p></strong>
                    <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; Australia</small>
                    </div>

                    <div class="col-md-3 pad-md-0 text-center">
                        <strong><p class="p-margin-bottom-0">$900/hr</p></strong>
                        <span class="label label-primary type-of-role">Full Time</span>
                    </div>
                </div>

                <div class="col-md-12 margin-top-10">
                    <h4>WordPress Developer</h4>
                    <p class="light-black">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
                        sed do eiusmod tempor.
                    </p>
                    <span class="label label-primary job-skills">HTML</span>
                    <span class="label label-primary job-skills">CSS</span>
                    <span class="label label-primary job-skills">Wordpress</span>
                    <span class="label label-primary  other-skills" style="border-radius: 10px;">+4</span>
                </div>

                <div class="col-md-12 pad-md-0 margin-top-20">
                    <div class="col-md-5 pad-md-0 apply-now">
                        <p>APPLY NOW</p>
                    </div>
                    <div class="col-md-5 pad-md-0 view-jobs">
                        <p>VIEW JOB</p>
                    </div>
                    <div class="col-md-2 pad-md-0 love-job">
                        <i class="fa fa-heart"></i>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-md-12 margin-top-30">
            <button type="submit" class="btn btn-primary center-block browse-all-jobs">BROWSE ALL JOBS</button>
        </div>

    </div>
</section>































{% comment %} find the latest job section. {% endcomment %}
<section id="featured-candidates" style="background: #eee;">
    <div class="container">
        <div class="col-md-12 text-center margin-bottom-60">
            <h4>Featured Candidates</h4>
            <small class="light-black">Discover, Intelligent, Experienced, Professional, Trustworthy Freelancer $ Full Time Candidates .</small>
            <p class="underliner center-block"><p>
        </div>

        <div class="col-md-4" >
            <div class="col-md-12 pad-md-0 add-border each-container-latest-job" style="background: #fff;">
                <div class="col-md-12 margin-top-20">
                    <div class="col-md-12 pad-md-0 text-center">
                        <i class="fa fa-circle profile-color" style="font-size: 100px;"></i>
                        <strong><span class="p-margin-bottom-0 candidate-price" style="position: absolute">$50/hr</span></strong>
                    </div>

                    <div class="col-md-12 pad-md-0 text-center">
                        <strong><p class="p-margin-bottom-0 margin-top-15">John Doe</p></strong>
                        <strong><small class="light-black">Wordpress</small></strong>
                        <p class="candidate-availability">Available Full Time</p>
                    </div>


                    <div class="col-md-12 pad-md-0 margin-top-15">
                        <div class="col-md-7">
                        <strong><p>Rating</p></strong>
                        <p>
                            <i class="fa fa-star star-color"></i>&nbsp;
                            <i class="fa fa-star star-color"></i>&nbsp;
                            <i class="fa fa-star star-color"></i>&nbsp;
                            <i class="fa fa-star star-color"></i>&nbsp;
                            <i class="fa fa-star star-color"></i>&nbsp;
                        
                            <span class="label label-primary star-rating type-of-role">4.9</span>
                        </p>

                        </div>
                        <div class="col-md-4 pad-md-0">
                            <strong><p>Location</p></strong>
                            <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; New York City</small>
                        </div>

                    </div>
                </div>

                
                <div class="col-md-12 pad-md-0 margin-top-20">
                    <div class="col-md-5 pad-md-0 apply-now">
                        <p>VIEW PROFILE</p>
                    </div>
                    <div class="col-md-5 pad-md-0 view-jobs">
                        <p>HIRE ME</p>
                    </div>
                    <div class="col-md-2 pad-md-0 love-job">
                        <i class="fa fa-heart"></i>
                    </div>
                </div>

            </div>
        </div>




        <div class="col-md-4" >
            <div class="col-md-12 pad-md-0 add-border each-container-latest-job" style="background: #fff;">
                <div class="col-md-12 margin-top-20">
                    <div class="col-md-12 pad-md-0 text-center">
                        <i class="fa fa-circle profile-color" style="font-size: 100px;"></i>
                        <strong><span class="p-margin-bottom-0 candidate-price" style="position: absolute">$50/hr</span></strong>
                    </div>

                    <div class="col-md-12 pad-md-0 text-center">
                        <strong><p class="p-margin-bottom-0 margin-top-15">Albert Due</p></strong>
                        <strong><small class="light-black">UX Designer</small></strong>
                        <p class="candidate-availability">Available Full Time</p>
                    </div>


                    <div class="col-md-12 pad-md-0 margin-top-15">
                        <div class="col-md-7">
                        <strong><p>Rating</p></strong>
                        <p>
                            <i class="fa fa-star star-color"></i>&nbsp;
                            <i class="fa fa-star star-color"></i>&nbsp;
                            <i class="fa fa-star star-color"></i>&nbsp;
                            <i class="fa fa-star star-color"></i>&nbsp;
                            <i class="fa fa-star star-color"></i>&nbsp;
                        
                            
                             <span class="label label-primary star-rating type-of-role">4.9</span>
                        </p>

                        </div>
                        <div class="col-md-4 pad-md-0">
                            <strong><p>Location</p></strong>
                            <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; New York City</small>
                        </div>

                    </div>
                </div>

                
                <div class="col-md-12 pad-md-0 margin-top-20">
                    <div class="col-md-5 pad-md-0 apply-now">
                        <p>VIEW PROFILE</p>
                    </div>
                    <div class="col-md-5 pad-md-0 view-jobs">
                        <p>HIRE ME</p>
                    </div>
                    <div class="col-md-2 pad-md-0 love-job">
                        <i class="fa fa-heart"></i>
                    </div>
                </div>

            </div>
        </div>





        <div class="col-md-4" >
            <div class="col-md-12 pad-md-0 add-border each-container-latest-job" style="background: #fff;">
                <div class="col-md-12 margin-top-20">
                    <div class="col-md-12 pad-md-0 text-center">
                        <i class="fa fa-circle profile-color" style="font-size: 100px;"></i>
                        <strong><span class="p-margin-bottom-0 candidate-price" style="position: absolute">$50/hr</span></strong>
                    </div>

                    <div class="col-md-12 pad-md-0 text-center">
                        <strong><p class="p-margin-bottom-0 margin-top-15">Rock Williams</p></strong>
                        <strong><small class="light-black">PHP Developer</small></strong>
                        <p class="candidate-availability2">Available Full Time</p>
                    </div>


                    <div class="col-md-12 pad-md-0 margin-top-15">
                        <div class="col-md-7">
                        <strong><p>Rating</p></strong>
                        <p>
                            <i class="fa fa-star star-color"></i>&nbsp;
                            <i class="fa fa-star star-color"></i>&nbsp;
                            <i class="fa fa-star star-color"></i>&nbsp;
                            <i class="fa fa-star star-color"></i>&nbsp;
                            <i class="fa fa-star star-color"></i>&nbsp;
                        
                            
                             <span class="label label-primary star-rating type-of-role">4.9</span>
                        </p>

                        </div>
                        <div class="col-md-4 pad-md-0">
                            <strong><p>Location</p></strong>
                            <small class="light-black"><i class="fa fa-map-marker red-color"></i>&nbsp; New York City</small>
                        </div>

                    </div>
                </div>

                
                <div class="col-md-12 pad-md-0 margin-top-20">
                    <div class="col-md-5 pad-md-0 apply-now">
                        <p>VIEW PROFILE</p>
                    </div>
                    <div class="col-md-5 pad-md-0 view-jobs">
                        <p>HIRE ME</p>
                    </div>
                    <div class="col-md-2 pad-md-0 love-job">
                        <i class="fa fa-heart"></i>
                    </div>
                </div>

            </div>
        </div>




 <div class="col-md-12 margin-top-60">
            <button type="submit" class="btn btn-primary center-block browse-all-jobs">SEE ALL PROFESSIONALS</button>
        </div>

    </div>
</section>




{% endblock %}
